.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: center;
    align-self: center;
}

#container .grid-container .cell{
    background-color: aqua;
    color: transparent;
    width: 16px;
    height: 16px;
}

html body{
    margin: 0px;
    padding: 0px;
    background-color: beige;
}

